@import url(nav.css);
@import url(logo.css);


* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p a {
    text-decoration: none;
    color: #9633fd;
}

main {
    height: 1000em;
    padding-top: 10em;
}

section {
    width: 60%;
    background-color: #9633ff25;
    margin: 5em auto;
    border-radius: 15px;
    padding: 1em;
}

h1 {
    margin: 1em 1em 0 1em;
    text-align: center;
    font-size: 4em;
}

h2 {
    font-size: 3em;
    border-left: solid #9633fd 5px;
    padding: 0 .25em;
    margin: .25em;
}

p {
    font-size: 2em;
    margin: 0 1em .25em;
}

hr {
    width: 90%;
    margin: auto;
    border-top: solid #9533fd 1px;
}

button {
    font-size: 1em;
    height: 15em;
    width: 15em;
    border-radius: 50%;
    background-color: #f8f4e3;
    border: solid #9633fd 1px;
    margin: 5em auto;
    justify-self: center;
    text-align: center;
}

button:hover {
    background-color: #9633fd;
    color: #f8f4e3;
    transform: scale(1.1);
    transition: .5s;
}